body{
    margin: 4vh 4vh 0 4vh;
    color: black;
    /* position: absolute; */
    /* width: 100%; */
    display: flex;
    height: 96vh;
    flex-direction: column;
}

header h1{
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 7vh;
    height: 7vh;
    margin: 0;
    user-select: none;
}

header p, footer p{
    font-family: 'VT323', monospace;
    font-size: 2.5vh;
    height: 2.5vh;
    margin: 0;
    user-select: none;
}

header .expl{
    position: relative;
    display: inline-block;
}

header .expl:hover{
    cursor: default;
}

.accent:hover{
    color: black;
}

.accent-dark:hover{
    color: white;
}

.expl .expl-content {
    display: none;
    width: 20vw;
    padding: 0 1ch;
    z-index: 1;
    position: absolute;
    left: 0px;
}

.expl:hover .expl-content {
    display: block;
}

hr{
    border: 2px solid;
    margin: 3vh 0 0 0;
}

.main h2{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
    user-select: none;
}

footer{
    height: 5vh;
    flex:none;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    color: #29B6F6;
    text-decoration: none;
}

footer p{
    position: relative;
    top: .5vh;
    float: right;
}

footer i{
    font-style: normal;
    position: relative;
    transition: all .3s;
}

.main{
    user-select: none;
    flex: auto;
}

.main p{
    font-family: 'VT323', monospace;
    font-size: 1.9em;
    margin: 1vh 0;
}

.main span:hover{
    cursor: pointer;
    background-color: #29B6F6!important;
    color: white!important;
}

.display{
    padding-right: 15px;
    padding-top: 3vh;
    height: 74vh;
}

.contents{
    height: 71vh;
    overflow: auto;
    margin-top: 3vh;
}

.hide{
    display: none;
}

#screen-container{
    height: 100%;
    border-left: 4px solid;
}

#screen{
    padding: 0 2%;
    height: 100%;
    width: 100%;
    transition: all 2s cubic-bezier(0,.9,.5,1);
    transform: scale(.98);
    opacity: 0;
    overflow: auto;
}

#screen h1{
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 3.2em;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #29B6F6!important;
}

#screen:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,1);
}

.contents:hover::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,1);
}

.dark-scroll #screen:hover::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,1)!important;
}

#colours{
    position: relative;
    top: 1.75vh;
    float: left;
    height: 1.5vh;
    width: 6vh;
    display: flex;
}

#colours:hover{
    cursor: pointer;
}

.colours-light:hover #clr2{
    flex-grow:0;
}

.colours-light:hover #clr3{
    flex-grow:0;
}

.colours-light:hover #clr4{
    flex-grow:0;
}

.colours-dark:hover #clr1{
    flex-grow:0;
}

.colours-dark:hover #clr2{
    flex-grow:0;
}

.colours-dark:hover #clr4{
    flex-grow:0;
}

#clr1{
    background-color: #0a0a0a;
    height: 100%;
    flex-grow:1;
    float: left;
    transition: all .2s;
}

#clr2{
    background-color: #353535;
    height: 100%;
    flex-grow:1;
    float: left;
    transition: all .2s;
}

#clr3{
    background-color: #f4f4f4;
    height: 100%;
    flex-grow:1;
    float: left;
    transition: all .2s;
}

#clr4{
    background-color: #29b6f6;
    height: 100%;
    flex-grow:1;
    float: left;
    transition: all .2s;
}

.active{
    background-color: #29B6F6;
    color: white;
}

.accent{
    color: #29B6F6;
}

.accent-dark{
    color: #29B6F6;
}

.block{
    background-color: #29B6F6;
    color: white;
}

.body-dark{
    background-color: black;
    color: white;
}

#small{
    display: none;
}

.load-in{
    margin-top: 1.5vh;
    opacity: 0;
}

#link{
    transition: all .35s;
}

@media all and (max-width: 768px) {
    header, .main, footer, hr{
        display: none;
    }

    body{
        position: fixed;
        width: 100vw;
        margin: 0;
    }

    #small{
        width: 100vw;
        display: block;
        font-family: 'VT323', monospace;
    }

    #small h1{
        text-align: center;
        margin-top: 10vh;
        padding: 0 10vw;
    }

    #small img{
        max-width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
    }
}
/*
###############
    changes    
###############
*/

.sort-container{
    height: 34vh;
    display: flex;
    margin-top: 1vh;
    background-color: rgba(128,128,128,.2);
    padding-top: 1vh;
    transition: all .5s;
}

.sort{
    height: 100%;
    flex: 1;
    width: 100%;
    position: relative;
    text-align:center;
}

.sort h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
    text-decoration:underline;
    color: black;
}

.inner-sort{
    width: 25vh;
    height: 25vh;
    border-bottom: 4px black solid;
    position: absolute;
    left: 5vh;
    bottom: 3vh;
    transition: all 1s;
}

.invert{
    filter: invert(1);
}

.short{
    height: 0!important;
}

.playback {
    font-family: 'VT323', monospace;
    font-size: 2.5em;
    background-color: rgba(128,128,128,.2);
    height: 4vh;
    line-height: 4vh;
    float: right;
    overflow: hidden;
    transition: height .5s;
}

.play{
    float: left;
    padding: 0 0 0 .5vw;
}

.play i{
    font-size: 4vh!important;
}

.play:hover{
    color: #29b6f6;
    cursor: pointer;
}

.time{
    float: left;
    padding: 0 1vw;
}

