html {
    font-family: consolas;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.content {
    text-align: left !important;
}

.em-block {
    display: inline-block;
    user-select: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    transition: all .2s ease;
    margin: 5px 0;
    border-radius: 10%;
    cursor: pointer;
}

.em-block:hover {
    background-color: #EEEEEE;
}

.em-block:active { 
    background-color: #FFDC00;
}

.bottom-toast{
    background-color: #EEEEEE;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 5%/10%;
    transform: translateX(-50%);
    padding: 10px;
    transition: all .3s ease;
    opacity: 0;
}

.theme {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
}

#sun {
    right: 20px;
}

#sun:hover {
    background-color: rgba(255, 221, 0, 0.6);
    transition: all .1s ease;
}

#sun:active {
    background-color: #FFDC00;
}

#moon {
    right: 70px;
}

#moon:hover {
    background-color: rgba(127, 219, 255, 0.6);
    transition: all .1s ease;
}

#moon:active {
    background-color: #7FDBFF;
}
