body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin:0;
}

h1{
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
    font-family: 'Rajdhani', sans-serif;
    margin:0;
    top:10vh;
    left:10vw;
    position:relative;
    font-size: 48px;
}

#board-container{
    height: 95vh;
    width: 100vw;
    position: absolute;
    right:0;
    top: 0;
}

/* #left-panel{
    height: 100vh;
    width: 30vw;
    left:0;
    position: absolute;
    background-color: #eee;
} */

#board{
    height: 767px;
    width: 768px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 2s;
    transform: translate(35px,50px);
    z-index: 999;
}

#board-colour{
    background-color: #e9c896;
    height: 767px;
    width: 768px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#board::after{
    content: '';   
    width: 768px;
    position:absolute;
    left:0;
    background: linear-gradient(to bottom, #ddbd8c 0%,#bd9d71 100%);
    transform:skew(35deg);
    transform-origin:top; 
    height:0px;
    bottom:0px;
    transition: all 2s;
}

.boardPseudo::after{
    height:50px!important;
    bottom:-50px!important;
    box-shadow: 10px 10px 62px -16px rgba(0,0,0,0.4);
}

.boardPseudo::before{
    width: 35px!important;
    right: -35px!important;
    top: 25px!important;
    box-shadow: 10px 10px 62px -16px rgba(0,0,0,0.4);
}

#board::before{
    content: '';
    height: 766px;
    position: absolute;
    background: linear-gradient(to right, #ddbd8c 0%,#bd9d71 100%);
    transform: skewY(55deg);
    width: 0px;
    right: 0px;
    top: 0px;
    transition: all 2s;
}

#board-img{
    position: absolute;
    height: 720px;
    width: 720px;
    margin-left: 24px;
    margin-top: 24px;
    opacity: 0.5;
    border: 1px solid black;
}

#board-canvas{
    position: absolute;
    height: 768px;
    width: 768px;
}

#board-canvas:hover{
    cursor: pointer;
}

#board-canvas:active{
    cursor: none!important;
}

/* ### Buttons ### */

/* ### Skip ### */

#skip{
    bottom: -50px;
    position: absolute;
    z-index: 5;
}

#skip-backing{
    width: 40px;
    height: 36px;
    bottom: -50px;
    position: absolute;
    right: -75px;
    border-radius: 3px;
}

#skip::before{
    width: 0px;
    left: 40px;
    height: 36px;
    bottom: 0px;
}

#skip::after{
    width: 40px;
    bottom: -14px;
    height: 0px;
    bottom: 0px;
}

#skip:hover{
    bottom: -36px;
}

#skip:active{
    bottom: -39px;
}

#skip:hover::before{
    bottom: -7px;
    width: 10px;
}

#skip:hover::after{
    bottom: -14px;
    height: 14px;
}

#skip:active::before{
    bottom: -5px;
    width: 8px;
    height: 35px;
}

#skip:active::after{
    bottom: -11px;
    height: 11px;
}

/* ### Reset ### */

#reset{
    bottom: -12px;
    position: absolute;
    z-index: 4;
}

#reset-backing{
    width: 40px;
    height: 36px;
    bottom: -12px;
    position: absolute;
    right: -75px;
    border-radius: 3px;
}

#reset:hover{
    bottom: 1px;
}

#reset:active{
    bottom: -2px;
}

#reset::after{
    width: 40px;
    bottom: -14px;
    height: 0px;
    bottom: 0px;
}

#reset:hover::after{
    bottom: -14px;
    height: 14px;
}

#reset::before{
    width: 0px;
    left: 40px;
    height: 36px;
    bottom: 0px;
}

#reset:hover::before{
    bottom: -7px;
    width: 10px;
}

#reset:active::before{
    bottom: -5px;
    width: 8px;
    height: 35px;
}

#reset:active::after{
    bottom: -12px;
    height: 13px;
}

/* ### Vol ### */

#vol{
    bottom: 26px;
    position: absolute;
    z-index: 3;
}

#vol-backing{
    width: 40px;
    height: 36px;
    bottom: 26px;
    position: absolute;
    right: -75px;
    border-radius: 3px;
}

#vol:hover{
    bottom: 40px;
}

#vol:active{
    bottom: 38px;
}

#vol::after{
    width: 40px;
    bottom: -14px;
    height: 0px;
    bottom: 0px;
}

#vol:hover::after{
    bottom: -14px;
    height: 14px;
}

#vol::before{
    width: 0px;
    left: 40px;
    height: 36px;
    bottom: 0px;
}

#vol:hover::before{
    bottom: -7px;
    width: 10px;
}

#vol:active::before{
    bottom: -5px;
    width: 8px;
    height: 35px;
}

#vol:active::after{
    bottom: -12px;
    height: 12px;
}

/* ### Export ### */

#export{
    bottom: 64px;
    position: absolute;
    z-index: 2;
}

#export-backing{
    width: 40px;
    height: 36px;
    bottom: 64px;
    position: absolute;
    right: -75px;
    border-radius: 3px;
}

#export:hover{
    bottom: 78px;
}

#export:active{
    bottom: 76px;
}

#export::after{
    width: 40px;
    bottom: -14px;
    height: 0px;
    bottom: 0px;
}

#export:hover::after{
    bottom: -14px;
    height: 14px;
}

#export::before{
    width: 0px;
    left: 40px;
    height: 36px;
    bottom: 0px;
}

#export:hover::before{
    bottom: -7px;
    width: 10px;
}

#export:active::before{
    bottom: -5px;
    width: 8px;
    height: 35px;
}

#export:active::after{
    bottom: -12px;
    height: 12px;
}

/* ### Buttons Generic ### */

.controls{
    width: 40px;
    height: auto;
    position: absolute;
    right: -75px;
    display: flex;
    flex-direction: row-reverse;
    opacity: 0;
    transition: all .3s, opacity 1s;
    background-color: #eee;
}

.controls::after{
    content: '';
    position: absolute;
    background: #eee;
    transform: skew(35deg);
    transform-origin: top;
    transition: all .3s;

}

.controls::before{
    content: '';
    position: absolute;
    background: #eee;
    transform: skewY(55deg);
    transform-origin: top;
    transition: all .3s;
}

.controls:hover::before{
    background: rgb(63, 63, 63);
}

.controls:hover::after{
    background: #222;
}

.controls img{
    height: 36px;
    width: 36px;
    margin-right: 2px;
    filter: invert(1);
}

.controls:hover{
    background-color: #333;
    right: -65px;
    cursor: pointer;
}

.controls:active{
    right: -67px;
}

.confirm:hover{
    background-color: #c22;
}

.confirm::after{
    background-color: rgb(190, 31, 31)!important;
}

.confirm::before{
    background-color: rgb(212, 40, 40)!important;
}

#popout{
    width: 320px;
    height: 42px;
    position: absolute;
    top:0;
    left:0px;
    background-color: #333;
    text-align: center;
    z-index: 0;
    transition: left .3s ease-out;
    box-shadow: 50px 30px 30px 0px rgba(0,0,0,0.05); 
}

.hide-clip{
    border-top: 1px solid white;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    margin-top: 12px;
}

@media only screen and (max-height: 768px) {
    body {
        transform: scale(.8);
    }
}