body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin:0;
}

h1{
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
    font-family: 'Rajdhani', sans-serif;
    margin:0;
    top:10vh;
    left:10vw;
    position:relative;
    font-size: 48px;
}

#board-container{
    height: 95vh;
    width: 100vw;
    position: absolute;
    right:0;
    top: 0;
}

/* #left-panel{
    height: 100vh;
    width: 30vw;
    left:0;
    position: absolute;
    background-color: #eee;
} */

#board{
    height: 767px;
    width: 768px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 2s;
    transform: translate(35px,50px);
    z-index: 999;
}

#board-colour{
    background-color: #e9c896;
    height: 767px;
    width: 768px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#board::after{
    content: '';   
    width: 768px;
    position:absolute;
    left:0;
    background: linear-gradient(to bottom, #ddbd8c 0%,#bd9d71 100%);
    transform:skew(35deg);
    transform-origin:top; 
    height:0px;
    bottom:0px;
    transition: all 2s;
}

.boardPseudo::after{
    height:50px!important;
    bottom:-50px!important;
    box-shadow: 10px 10px 62px -16px rgba(0,0,0,0.4);
}

.boardPseudo::before{
    width: 35px!important;
    right: -35px!important;
    top: 25px!important;
    box-shadow: 10px 10px 62px -16px rgba(0,0,0,0.4);
}

#board::before{
    content: '';
    height: 768px;
    position: absolute;
    background: linear-gradient(to right, #ddbd8c 0%,#bd9d71 100%);
    transform: skewY(55deg);
    width: 0px;
    right: 0px;
    top: 0px;
    transition: all 2s;
}

#board-img{
    position: absolute;
    height: 720px;
    width: 720px;
    margin-left: 24px;
    margin-top: 24px;
    opacity: 0.5;
    border: 1px solid black;
}

#board-canvas{
    position: absolute;
    height: 768px;
    width: 768px;
}

#board-canvas:hover{
    cursor: pointer;
}

#board-canvas:active{
    cursor: none!important;
}

#skip{
    bottom: -50px;
}

#reset{
    bottom: -11px;
}

#vol{
    bottom: 28px;
}

#export{
    bottom: 67px;
}

.controls{
    width: 40px;
    height: auto;
    position: absolute;
    right: -75px;
    display: flex;
    flex-direction: row-reverse;
    opacity: 0;
    transition: all .3s, opacity 1s;
    background-color: #eee;
}

.controls img{
    height: 36px;
    width: 36px;
    margin-right: 2px;
    filter: invert(1);
}

.controls:hover{
    background-color: #333;
    width: 50px;
    right: -85px;
    cursor: pointer;
}


.controls:active{
    right: -82px;
    width: 47px;
}

.confirm:hover{
    background-color: #c22;
}

#popout{
    width: 320px;
    height: 42px;
    position: absolute;
    top:0;
    left:0px;
    background-color: #333;
    text-align: center;
    z-index: 0;
    transition: left .3s ease-out;
}

.hide-clip{
    border-top: 1px solid white;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    margin-top: 12px;
}

@media only screen and (max-height: 768px) {
    body {
        transform: scale(.8);
    }
}