body{
    background-color: black;
    margin: 0px;
}

#side{
    background-color: black;
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    padding-left:1vw;
    color: rgb(247, 244, 240);
    min-height: 100%;
}

#main{
    width: 74vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

#content{
    margin-top: 7vh;
    padding-right: 3vw;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    pointer-events:none;
}

.ease{
    transition: all 0.5s ease;
}

p{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

a{
    color: inherit;
}

a:hover{
    color:rgb(217, 219, 52);
}

.navLinks{
    display: block;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
    font-size: 40px;
    height: 39px;
    text-decoration: none;
}

#info{
    position: absolute;
    bottom: 0;
    width: 25vw;
}

#info p{
    text-align:center;
}

#canvas{
    width: 74vw;
    height: 100vh;
    /* background-color:rgba(255,255,255,0.1); */
    /* cursor: none; */
}

.hidden{
    display: none;
}

.clickable{
    cursor: pointer;
}

::selection{
    background: #69c1e4;
}

@media (orientation: portrait) {
    body {
      zoom: 150%;
    }
    canvas{
        zoom: 150%;
    }
    #side{
        width: 32vw;
    }
  }