/*
Colours:
red: #FF7043
green: #388E3C 
*/

body {
    background-color: #263238;
    font-family: 'Consolas', sans-serif;
    overflow: hidden;
    background-image: url("https://66.media.tumblr.com/0425c49c3a7408a1b29dace4b04f2f79/tumblr_inline_n2590137jN1qhwjx8.gif");
    background-image: url("https://66.media.tumblr.com/e5da3cb3fbe9af8f2198f3459e72424a/tumblr_inline_n258tklDt11qhwjx8.png");
    background-image: url("https://66.media.tumblr.com/043638a13d33aa74f175aa54439f4382/tumblr_inline_n25dj8mB5T1qhwjx8.gif");
    background-size: cover;
}

h1, h2, h3, p {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 6em;
    font-weight: normal;
    padding-top: .5vw;
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
    padding-top: .5vw;
}

h3 {
    font-weight: normal;
    font-size: 1em;
    color: #EFEBE9;
}

p {
    font-size: 1em;
    padding-top: .5vw;
}

a {
    color: #388E3C 
}

#page {
    user-select: none;
    background-color: #EFEBE9;
    width: 68vmin;
    height: 85vmin;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1);
    transition: all .1s ease;
    color: #00796B;
    overflow-wrap: break-word;
    z-index: 999;
    overflow: scroll;
}

hr {
	height: 6px;
	background: url(../res/line-green.svg);
	/* background: url(../res/line.png) repeat-x 0 0; */
    border: 0;
}

.project {
    padding-left: 3.5em;
}

#const {
    text-align: center;
    line-height: 15vh;
    margin-left: 7vw;
}