body{
    background-color: black;
    margin: 0px;
    scroll-snap-stop: always;
}

#side{
    background-color: black;
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    padding-left:1vw;
    color: rgb(247, 244, 240);
    min-height: 100%;
}

#main{
    width: 74vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

#content{
    margin-top: 7vh;
    padding-right: 3vw;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 5.3vw;
    /* font-size: 100px; */
    pointer-events:none;
}

h2{
    display: none;
}

.ease{
    transition: all 0.5s ease;
}

p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

a{
    color: inherit;
}

a:hover{
    color:rgb(217, 219, 52);
    cursor: pointer;
}

.navLinks{
    display: block;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
    font-size: 2.2vw;
    height: 2.1vw;
    text-decoration: none;
}

#info{
    position: absolute;
    bottom: 0;
    width: 25vw;
}

#info p{
    text-align:center;
}

.hidden{
    display: none;
}

.selected{
    opacity: 75%;
}

.mobile{
    display: none;
}

::selection{
    background: #69c1e4;
}

::-webkit-scrollbar {
    display: none;   
}

@media (orientation: portrait) {

    #main {
        width: 100%;
        height: 50vh;
        position: fixed;
        margin-top: 25vh;
    }

    #side {
        width: 100%;
        padding: 0;
        position: relative;
        margin-top: 75vh;
        z-index: 5;
    }

    #nav{
        display: none;
    }
    
    h1{
        position: fixed;
        top: 0;
        font-size: 13vw;
        width: 100%;
        height: 25vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: black;
        /* background: rgba(0,0,0,0.2); */
    }

    h2{
        display: block;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 8vw;
        /* font-size: 100px; */
        pointer-events:none;
    }

    p{
        font-size: 2vh;
    }
    #content{
        margin: 0;
        padding: 4vw;
    }
    .hidden{
        display: block;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
}