html,
body {
  margin: 0;
  overflow:hidden;
  background-color:#4285f4;
}

#topBar {
  background-color: black;
  color: white;
  height: 10vh;
}

#topBarTitle {
  background-color: #ffffff;
  color: white;
  height: 100%;
  width: 62%;
  float: left;
  line-height: 10vh;
  text-align: left;
}

#topBarUnderDev {
  background-color: #dc4437;
  height: 100%;
  width: 38%;
  float: left;
  line-height: 10vh;
  text-align: center;
}

#tLogo {
  vertical-align: middle;
  height: 7vh;
  margin-left:10%;
}

#tUnderDev {
  vertical-align: middle;
  width:90%;
}

#midContainer{
  height: 90vh;
  width:100%;
}

#midImage{
  background-color: black;
  height:100%;
  float:left;
}

#midPhone {
  color: white;
  height: 90vh;
  width:50%;
  text-align:center;
  line-height: 90vh;
  float:left;
}

#iPhone{
  vertical-align: middle;
  max-height:90%;
  max-width:90%;
}

#midText {
  color: white;
  height: 90vh;
  width:50%;
  float:left;
  line-height:90vh
}

#midTextInnerContainer {
  height: 70vh;
  width:100%;
  vertical-align: middle;
  display:inline-block;
  line-height:35vh
}

#textLarge{
  font-family: 'Roboto', sans-serif;
  font-size:10vmax;
}

#textSmall{
  font-family: 'Roboto', sans-serif;
  font-size:1.5em;
  line-height:17.5vh;
}

#textSmallText{
  vertical-align:top;
  line-height:1em;
}

#iIcon{
  max-height:6em;
}