body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200vh;
}
header {
    background-color: rgba(0, 0, 0, 0.05);
    height: 50px;
    width: 100%;
    line-height: 50px;
    opacity: 0;
    transition: all 1.5s ease;
    position: fixed;
}

header h1 {
    font-weight: 600;
    font-size: 24px;
    margin: 0px 15vw;
    width: 50vw;
}

header h1:hover{
    color: #37779c;
    cursor: pointer;
}

header span{
    font-weight: 300;
}

#hero img {
    position: absolute;
    width: 50vw;
    margin-left: 25vw;
    opacity: 0;
}

#hero-img{
    z-index: 1;
    margin-top: 25vh;
    transition: all 2.5s ease;
}

#hero-shadow{
    margin-top: 31vh;
    transition: all 2.5s linear;
}

#hero h1 {
    position: absolute;
    text-align: center;
    width: 100vw;
    font-weight: 700;
    font-size: 75px;
    top: 55px;
    opacity: 0;
    transition: all 1.5s ease;
}

#hero h2 {
    position: absolute;
    text-align: center;
    width: 100vw;
    font-weight: 300;
    font-size: 40px;
    top: 160px;
    opacity: 0;
    transition: all 1.5s ease;
}

#mount img{
    position: absolute;
    height: 70vh;
    margin-top: 117vh;
}

#mount-body{
    margin-left: 10vw;
    opacity: 0;
    transition: all .5s ease;
}

#mount-lens{
    margin-left: 15vw;
    opacity: 0;
    transition-property: opacity, margin-left;
    transition-duration: .8s, 1.5s;
}

#aperture{
    position: absolute;
    margin-top: 138vh;
    /* background-color: grey; */
    height: 50vh;
    width: 50vw;
    right: 0;
    text-align: center;
}

#aperture img{
    /* position: relative; */
}

#lens-closed{
    position: absolute;
    height: 50vh;
    top: 50%;
    margin-top: -25vh;
    right: 50%;
    margin-right: -25vh;
    opacity: 0;
    transition: all .5s ease;
}

#lens-open{
    position: absolute;
    height: 50vh;
    top: 50%;
    margin-top: -25vh;
    right: 50%;
    margin-right: -25vh;
    mix-blend-mode: overlay;
    opacity: 0;
    transition: all .3s ease;
}

#intro-desc{
    position: absolute;
    margin-top: 110vh;
    height: 50vh;
    width: 50vw;
    right: 0;
}

#intro-desc p{
    opacity: 0;
    font-size: 22px;
    font-weight: 300;
    margin-top: -20px;
    transition: all 1s ease;
}

#intro-desc h1{
    opacity: 0;
    font-size: 2.5em;
    margin-top: -20px;
    transition: all 1s ease;
}

#intro-desc h2{
    color: #c5b24f;
    font-weight: 300;
    font-size: 35px;
    float: left;
    margin-left: 35px;
    opacity: 0;
    transition: all 1s ease;
}