body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: lightgrey;
}

#nav{
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navItem {
    float: right;
    height: 60px;
    width: 200px;
    text-align: center;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

a{
    text-decoration: none;
    color: black;
    display: block;
}


#search {
    width: 100px;
    transition: all .2s cubic-bezier(.01,.95,.58,.93);
}

#searchBox{
    display: none;
    float: left;
    border: 0;
    transition: all .2s cubic-bezier(.01,.95,.58,.93);
}

input {
    height: 40px;
    font-size: 40px;
    background-color: lightgrey;
    color: white;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 15px;
    outline: none;
    border: 0;
    box-shadow: 0px 3px 0px 0px white;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.navItem:hover{
    background-color: lightgrey;
    cursor: pointer;
    color: white;
}

.title{
    float: left;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
}

.title a{
    
    color: black;
    text-decoration: none;
}

.title:hover{
    background-color: white;
    color: black;
}

#heroBanner {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 550px;
}

#hero {
    position: absolute;
    transition: opacity 1s ease-in-out;
    min-height: 550px;
    min-width: 100vw;
    display:block;
    margin:auto;
    background:url(budapestLarge.png) center center no-repeat;
    background-size:cover;
}

#hero2 {
    position: absolute;
    min-height: 550px;
    min-width: 100vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background:url(rogueLarge.jpg) center center no-repeat;
    background-size:cover;
}

#genreContainer {
    position: absolute;
    width: 100vw;
    top: 610px;
}

h1 {
    margin: 0;
    font-weight: 300;
    padding-top: 25px;
    padding-left: 25px;
}

.genreList {
    height: 60vh;
}

.flexFilms {
    height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.flexFilms::-webkit-scrollbar { 
    display: none;
}

.film{
    height: 45vh;
    width: 15vw;
    margin: 20px;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
}

.film img{
    height: 33vh;
    width: auto;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.film:hover {
    background-color: #333333;
    cursor: pointer;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 200px;
    z-index: 2;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    height: 60px;
}

.dropdown-content a:hover {
    background-color: lightgrey;
    color: white;
    transition: all .2s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2{
    width: 15vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}

#action {
    background-color: #0c0c0c;
    color: white;
}

#comedy {
    background-color: #141414;
    color: white;
}

#thriller {
    background-color: #191919;
    color: white;
}

#drama {
    background-color: #212121;
    color: white;
}


.anchor{
	position: relative;
	top: -60px;
	height: 0;
}

footer{
    position: relative;
    padding-left: 20px;
    background-color: #0c0c0c;
    color: grey;
    height: 45px;
    line-height: 40px;
}

footer p{
    padding: 0;
    margin: 0;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
}

footer span{
    float: right;
    margin-right: 20px;
}

.fab{
    margin-right: 20px;
    font-size: 20px;
    line-height: 45px;
}

.fab:hover{
    cursor: pointer;
    color: white;
}

footer a{
    text-decoration: none;
    display: default;
    float: right;
    color: grey;
}
