.window {
    position: fixed;
    z-index: 3;
    right: 5%;
    top: 100px;
    height: 70vh;
    aspect-ratio: 700 / 614;
    background-color: white;
    opacity: 0;
    mix-blend-mode: plus-lighter;
    transform-origin: right top;
    filter: blur(1px);
    transform: skewY(-3deg);
    background-image: url("/window-8.png");
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;

    @media (orientation: portrait) {
        display: none;
    }
}

.branch {
    height: 100vh;
    position: absolute;
    mix-blend-mode: multiply;
    filter: grayscale(1) blur(4px) contrast(2);
}

.branch2 {
    height: 100vh;
    position: absolute;
    mix-blend-mode: multiply;
    filter: grayscale(1) blur(4px) contrast(2);
    margin-top: 30vh;
    opacity: 0.7;
}